body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(149, 21, 235, 0.819);
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #504c4c;
  margin-bottom: 20px;
}

.content {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #272626;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .content {
    font-size: 1rem;
    line-height: 1.6;
  }

  .container {
    margin: 40px;
    padding: 15px;
  }
}
